#Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data to make it easier to access, modify, and use. They are important because they improve the efficiency of algorithms and help optimize resource usage.

2. What is the difference between mutable and immutable data types?
  - Mutable data types can be changed after creation e.g., lists, while immutable data types cannot be changed once created e.g., tuples, strings.

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable that can be modified, ordered collections, while tuples are immutable which cannot be modified and also ordered collections. Tuples are often used for fixed, constant data.

4. How do dictionaries store data?
  - Dictionaries store data as key-value pairs. Each key is unique, and it maps to a corresponding value, making it efficient for retrieving values using keys.

5. Why might you use a set instead of a list in Python?
  - A set is useful when you want to store unique values and don't care about the order. It automatically removes duplicates, whereas lists can store duplicate values.

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters, whereas a list can hold any type of data, such as numbers, strings, or other lists. Strings are immutable, while lists are mutable.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning once created, their data cannot be changed. This ensures that the data remains consistent and cannot be accidentally modified.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that allows fast access to values by using a hash function to map keys to values. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
  - Yes, lists can contain elements of different data types. For example, a list can store integers, strings, and even other lists.

10. Explain why strings are immutable in Python?
  - Strings are immutable to ensure performance and reliability. Immutable objects are faster and safer because their values cannot be accidentally changed.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer faster lookups by key (O(1) time complexity), whereas lists require searching by index, which is slower, especially for large datasets.

12. Describe a scenario where using a tuple would be preferable over a list?
  - Use a tuple when you need fixed, constant data that should not change, such as representing geographical coordinates or configuration settings.

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates. If you try to add the same value multiple times, it will only appear once in the set.

14. How does the “in” keyword work differently for lists and dictionaries?
  - For lists, the "in" keyword checks if an element is present. In dictionaries, it checks if a key exists, not a value.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot modify the elements of a tuple because tuples are immutable. Once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary. It's useful for organizing hierarchical data, such as storing details of multiple employees: {'emp1': {'name': 'John', 'age': 25}}.

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a dictionary has O(1) time complexity, meaning it is very fast, regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when the order of items matters, or when you need to store multiple values of the same type that will be accessed by their position (index) in the list.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are unordered because the keys do not follow a specific order. This means that data retrieval is based on keys, but the order in which items were added isn't preserved.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - In a list, you retrieve data by index (position). In a dictionary, you retrieve data by key. Lists store data sequentially, whereas dictionaries store data as key-value pairs.

#Practical Questions

In [1]:
# Write a code to create a string with your name and print it
name = "John"
print(name)

John

In [2]:
# Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5, 10]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50] in python without comments
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [13]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [14]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'orange')
print('kiwi' in my_tuple)

False

In [16]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [17]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [23]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [24]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [26]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'John', 'age': 25}

In [27]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[11, 29, 46, 49, 68]

In [28]:
# Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'orange', 'grape']
print(my_list[2])

orange

In [29]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'orange', 'apple']
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'orange'}